
/*固定导航栏*/
#headerBar{
    height: 60px;
}

.headerOut *{
    font: 14px/150% helvetica,"微软雅黑","microsoft yahei",Verdana,Lucida,arial,sans-serif,"黑体";
}

#headerBar a:hover{
    color: white;
}


.headerOut{
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(25,35,50,.98);
}

.headerContent{
    min-width: 1092px;
    height: 60px;
    padding: 0 88px 0 20px;
    position: relative;
    font-size: 15px;
}

.headerContent dl{
    float: left;
}

.headerContent dl dd{
    float: left;
    line-height: 60px;
}

.headerContent dl dd a{
    color: #c8c8c8;
    line-height: 60px;
    margin-right: 30px;
    position: relative;
    font-size: 15px;
}


.headerContent dl dd a i,.app>a>i{
    width: 0;
    height: 0;
    overflow: hidden;
    border-bottom: 5px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 50%;
    bottom: -22px;
    margin-left: -7px;
    display: none;
}

.headerContent dl dd a i.show{
    display: block;
}

.headerContent dl dd a em{
    background: url(../img/head.png) -165px 0 no-repeat;
    width: 28px;
    height: 14px;
    position: absolute;
    right: -26px;
    top: -6px;
    font-size: 0;
    line-height: 0;
}

.headerContent dl:after{
    display: block;
    clear: both;
    content: '';
    font-size: 0;
    height: 0;
    zoom: 1;
}

.headerContent h1{
    width: 117px;
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -58px;

}

.headerContent h1 a {
    background: url(../img/head.png) 0 -315px no-repeat;
    width: 117px;
    height: 36px;
    display: block;
    font-size: 0;
    line-height: 0;
}

.headRight{
    float: right;
}


.headRight:after,.headbar:after{
    display: block;
    clear: both;
    content: '';
    font-size: 0;
    height: 0;
    zoom: 1;
}

.headRight a{
    padding: 18px;
}

.headRight>div{
    float: right;
    height: 60px;
    position: relative;
}

.headRight .headtool{
    position: relative;
    padding: 0 18px;
    height: 60px;
    line-height: 60px;

}

.headRight .headtool a{
    padding: 0;
    line-height: 60px;
}
/*顶部条上的搜索框*/
.searchbox{
    display: none;
    position: fixed;
    top: 10px;
    padding: 0%;
    width: 360.5px;
    height: 38px;
    left: 601.5px;
    z-index: 1000;
    background-color: white;
    border-radius: 40px;
}

.searchbox .selectSearch{
    float: left;
    padding-left: 10px;
    width: 100px;
    height: 45px;
    position: relative;
    padding-bottom: 6px;
    text-align: center;
    color: #999;
}

.searchbox .selectSearch>strong{
    display: inline-block;
    width: 45px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.searchbox .selectSearch>i{
    display: inline-block;

    background: url(../img/head.png) -152px 0 no-repeat;
    width: 11px;
    height: 7px;
}

.searchbox .selectSearch>span{
    width: 1px;
    height: 14px;
    margin-left: 10px;
}

.searchbox .selectSearch ul{
    display: none;
    position: absolute;
    background: #fff;
    width: 95px;
    left: 0;
    top: 41px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    border: 1px solid #ccc;
}

.searchbox .selectSearch:hover ul{
    display: block;
}

.searchbox .selectSearch ul li{
    text-align: center;
    line-height: 2.4;
    border-top: 1px solid #eee;
    cursor: pointer;
}

.searchbox .selectSearch ul li:hover{
    background: #e5f2fc;
    color: #267dd7;
}

.searchbox input{
    background: 0;
    width: 50%;
    line-height: 24px;
    padding: 7px 0;
    border: 0;
    font-size: 13px;

    display: inline-block;
    vertical-align: top;

}

.searchbox .searchboxBtn{
    position: relative;
    float: right;
    width: 54px;
    height: 32px;
    margin-right: 3px;
    margin-top: 3px;
    border-radius: 20px;
}

.searchbox .searchboxBtn:hover {

}

.searchbox .searchboxBtn i{
    position: absolute;
    display: inline-block;
    background: url(../img/head.png) -115px -45px no-repeat;
    width: 19px;
    height: 19px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
}


.searchbox .searchboxBtn.select{
    background-color: #1e7dd7;
}

.searchbox .searchboxBtn.select i{
    background-position: -134px -45px;
}

.headtool .headzoom em {
    background: url(../img/head.png) -75px -45px no-repeat;
    width: 20px;
    height: 20px;
    opacity: .7;

    display: inline-block;
    position: relative;
    zoom: 1;
    vertical-align: middle;
}

.headtool:hover .headzoom em{
    opacity: 1;
}

.headtool .headzoom em.cancel{
    background-position: -95px -45px;
}

.headRight .app{
    position: relative;
}

.headRight .app .headqr{
    display: inline-block;
    color: #c8c8c8;
    margin-right: 15px;
}

.headRight .app:hover>a>i{
    display: block;
    bottom: 0;

}

.headRight .app a em{
    display: inline-block;
    background: url(../img/head.png) -54px -45px no-repeat;
    width: 17px;
    height: 26px;
    opacity: .7;
    margin-right: 5px;
}

.headRight .app a b{
    background: url(../img/head.png) -140px 0 no-repeat;
    width: 7px;
    height: 4px;
    position: absolute;
    right: 18px;
    top: 30px;
    margin-top: -2px;
    opacity: .7;
}

.headRight .app a:hover em,.headRight .app a:hover b{
    opacity: 1;
}

.qrcode_tip{
    position: absolute;
    top: 60px;
    width: 125px;
    right: -20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    background-color: #fff;
    z-index: 5;
    display: none;
}

.headRight .app:hover .qrcode_tip{
    display: block;
}

.qrcode_tip a{
    padding: 0;
}
.qrcode_tip>a>i{
    background: url(../img/head.png) 0 -195px no-repeat;
    width: 115px;
    height: 115px;
    margin: 0 auto;
    display: block;
}

.qrcode_tip p {
    margin-top: 10px;
    line-height: 1;
}

.headRight i.line{
    position: absolute;
    left: 0;
    border-left: 1px solid #141c28;
    border-right: 1px solid #303947;
    height: 60px;
}

.headRight .login{
    height: 60px;
    line-height: 60px;
}

.headRight .login a{

    display: inline-block;
    color: #c8c8c8;
    margin-right: 15px;
}

.headRight .login b{
    position: absolute;
    top: 22px;
    left: 70px;
    width: 0;
    height: 16px;
    border-left: 1px solid #303947;
}

.headRight .shopping{
    background: #e83729;
    height: 64px;
    width: 68px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 2;
}

.headRight .shopping em{
    background: url(../img/head.png) 0 -45px no-repeat;
    width: 30px;
    height: 24px;
    position: absolute;
    left: 19px;
    top: 19px;
}

.headRight .shopping b{
    background: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    color: #e83729;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 9px;
    border: 3px solid #e83729;
}

.shopping .shopping-tip {
    width: 350px;
    border-top: 3px solid #e83729;
    right: 0;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    position: absolute;
    top: 60px;
    display: none;
}

.shopping:hover .shopping-tip{
    display: block;
}

.shopping .shopping-tip .tips {
    text-align: center;
    color: #999;
    padding: 100px 0;
}
